.FlowLineForm {
  position: absolute;
  top: 100px;
  width: 250px;
  left: 2em;
  z-index: 20;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 1em;
  font-weight: 300;
  background: #fff;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;

  &.hidden {
    height: 0;
    overflow: hidden;
    padding: 0;
    box-shadow: none;
    border: 0;
  }
}

.FlowLineForm__values {
  text-align: center;
}

.FlowLineForm__point {
  background: #ffffff;
  padding: 10px;
  text-align: center;
}

.FlowLineForm__value {
  border-radius: 4px;
  border: 1px solid #dddddd;
  width: 40px;
  margin: 5px;
  font-size: 18px;
  text-align: right;
}
