.map {
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;


    @keyframes grow {
      0% { stroke-width: 1; }
      75% { stroke-width: 4.5; }
      100% { stroke-width: 1; }
    }

    .cantones__feature {
      stroke: #dddddd;
      fill: #f0f0f0;

      &:hover {
        fill: #f7f7f7;
      }
    }

    .points__feature {
      fill: #ffffff;
      stroke: #666666;
      cursor: pointer;
      animation: grow 0.3s linear;
      zoom: 2;

      &:hover, &_selected {
        fill: #03A9F4;
        stroke: #333333;
        stroke-width: 2;
      }
    }
}
